# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Builds Android/iOS
android/
ios/
*.apk
*.aab